<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    form {
  text-align: center;
  margin-top: 20px
}
body {
  background-color: powderblue;
}
#sub {color:rgb(253, 253, 253);
    text-align: center;
    }
</style>
<body>
    <form action='' method="POST">
        {% csrf_token %}
        {{ f.name.label }}
        {{ f.name }}
        <input type="submit" class="btn btn-success" value="save" id="sub"/> 

    </form>
    <input type="button" class="btn btn-primary" style="float:center; margin-top: 50px" onclick="window.location.href = '/data';" value="Check data"/>
</body>
</html>