<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>HOME</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    form {
  text-align: center;
  margin-top: 20px
}
body {
  background-color: powderblue;
}
#sub {color:rgb(253, 253, 253);
    text-align: center;
    }
    #d1 { display: flex; justify-content: center; }
   
</style>
<body>
    <form action='' method="POST">
        <div class="form-group">
        {% csrf_token %}
        {{ f.name.label }}
        {{ f.name }}
        <input type="submit" class="btn btn-success" value="save" id="sub"/> 
        </div>
    </form>
    <div id="d1">
    <button type="button" class="btn btn-info btn-lg" style="float:center; margin-top: 50px" onclick="window.location.href = '/data';" >
    <span class="glyphicon glyphicon-ok"> Check DATA</span>
    </button>
</div>

</body>
</html>